body
{
    background: #e6e6e6 url('wood.jpg')repeat;
}

#header {
    position: absolute;
    left: 40px;
    right: 40px;
    top: 10px;
    border: 1px dotted black;
    background: rgba(127,191,127,0.45);
    padding: 15px;
    }

#content {
    margin: 40px;
    border: 1px dotted black;
    background: rgba(255,255,255,0.8);
    text-align: center;
    height: 100%;
    padding: 20px;
}

#myFile {
    display: none;
}

#detect-button {
    display: none;
}

#error {
    color: red;
    font-size: 18px;
    display: none;
}

.upload-area{
    width: 70%;
    height: 200px;
    border: 2px solid lightgray;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload-area:hover{
    cursor: pointer;
}

#drop-text{
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 28px;
    line-height: normal;
    color: darkslategray;
}

#results {
    display: none;
}

#objects-container {
    margin: 0 auto;
    width: 75%;
}

#objects-container > h2 {
    text-decoration: underline;
}

#objects {
    text-align: center;
}

#objects th {
    color: #3e19fa;
}
